---
title: Galleri
---

<!DOCTYPE html>
<html>

    {% include "_head.html" %}

    <body>
        {% include "_navbar.html" %}

        <div class="row">
            <div class="column left">
            </div>

            <div class="column middle">
                <div class="column middle contact_left">
                </div>
                
                <div class="row">
                    <div class="column middle  contact_middle">
                        <div class="row">
                            <div class="column middle contact_middle contact_column">
                                <img width="124" height="173" src="/images/bjorn-hjelmskog.jpg">
                            </div>
                            
                            <div class="column middle contact_middle contact_column">
                                <img width="124" height="173" src="/images/lars-hjelmskog.jpg">
                            </div>

                            <div class="column middle contact_middle contact_column">
                                <img width="124" height="173" src="/images/tomas-hjelmskog.jpg">
                            </div>
                        </div>

                        <div class="row">
                            <div class="column middle contact_middle contact_column"    >
                            <p style="font-size: 18px; font-weight: bold">Björn Hjelmskog</p>
                            <p style="font-size: 12px">Med mångårig erfarenhet av skadereglering och försäkrings-verksamhet i ledande befattningar.<br/><br/>
                            08 - 646 7043 (dir)<br/>
                            070-600 1287</p>
                            </div>
                            
                            <div class="column middle contact_middle contact_column">   
                                <p style="font-size: 18px; font-weight: bold">Lars Hjelmskog</p>
                                <p style="font-size: 12px">Knuten till Trafikskadetjänst efter några års försäkrings-verksamhet och ekonomistudier<br/><br/>
                                lars@trafikskadetjanst.se<br/></br/>
                                08 - 646 7041 (dir)<br/>
                                070 - 600 9995</p>

                            </div>

                            <div class="column middle contact_middle contact_column">
                                <p style="font-size: 18px; font-weight: bold">Tomas Hjelmskog</p>
                                <p style="font-size: 12px">Tomas medverkar i företaget efter många år som sjuksköterska i England och Sverige.<br/><br/>
                                tomas@trafikskadetjanst.se<br/><br/>
                                08 - 646 7048 (dir)<br/>
                                070 - 672 7827</p>
                                </div>
                        </div>
                        
                    </div>

                    

                    <div class="column middle contact_right">
                    </div>
                </div>
                
            </div>  

            <div class="column right">
            </div>
        </div>  

        <div class="row">
            <div class="column left">
            </div>

            <div class="column middle">
                <div class="column middle contact_left">
                </div>
                
                <div class="row">
                    <div class="column middle  contact_middle">
                        <div class="row">
                            <div class="column middle contact_middle contact_column">
                                <img width="124" height="173" src="/images/anders.landegren.jpg">
                            </div>
                            
                            <div class="column middle contact_middle contact_column">
                                <img width="124" height="173" src="/images/bo-bigert.jpg">
                            </div>

                            <div class="column middle contact_middle contact_column">
                                <img width="124" height="173" src="/images/olov-eklund.jpg">
                            </div>
                        </div>

                        <div class="row">
                            <div class="column middle contact_middle contact_column"    >
                            <p style="font-size: 18px; font-weight: bold">Anders Landegren</p>
                            Marknadskontakter<br/><br/>
                            <p style="font-size: 12px">
                            anders.landegren@gmail.com<br/>
                            070 - 789 2038</p>
                            </div>
                            
                            <div class="column middle contact_middle contact_column">   
                                <p style="font-size: 18px; font-weight: bold">Bo Bigert</p>
                                Mälardalen<br/><br/>
                                <p style="font-size: 12px">
                                bo.bigert@trafikskadetjanst.se<br/>
                                070 - 306 8559</p>
                            </div>

                            <div class="column middle contact_middle contact_column">
                                <p style="font-size: 18px; font-weight: bold">Olov Eklund</p>
                                Sydvästra Sverige<br/><br/>
                                <p style="font-size: 12px">olov.eklund@mhmail.se<br/>
                                070 - 847 3490</p>
                                </div>
                        </div>
                        
                    </div>

                    

                    <div class="column middle contact_right">
                    </div>
                </div>
                
            </div>  

            <div class="column right">
            </div>
        </div>  

        <div class="row">
            <div class="column left">
            </div>

            <div class="column middle">
                <div class="column middle contact_left">
                </div>
                
                <div class="row">
                    <div class="column middle  contact_middle">
                        <div class="row">
                            <div class="column middle contact_middle contact_column">
                                <img width="124" height="173" src="/images/jennifer-hjelmskog.jpg">
                            </div>
                            
                            <div class="column middle contact_middle contact_column">
                            </div>

                            <div class="column middle contact_middle contact_column">
                            </div>
                        </div>

                        <div class="row">
                            <div class="column middle contact_middle contact_column"    >
                            <p style="font-size: 18px; font-weight: bold">Jennifer Hjelmskog</p>
                            Ekonomi<br/><br/>       
                            </div>
                            
                            <div class="column middle contact_middle contact_column">   
                            </div>

                            <div class="column middle contact_middle contact_column">
                                </div>
                        </div>
                        
                    </div>

                    

                    <div class="column middle contact_right">
                    </div>
                </div>
                
            </div>  

            <div class="column right">
            </div>
        </div>  
        {% include "_foot.html" %}
    </body>

</html>