---
title: Våra kunder
---

<!DOCTYPE html>
<html>

    {% include "_head.html" %}

    <body>
        {% include "_navbar.html" %}

        <div class="row">
            <div class="column left">
            </div>

            <div class="column middle">
                <p id="centered-text">
                    <a href="/pdf/tsktj-kunder-april-2022.pdf"><img src="/images/adobe-reader-pdf-icon.png"></a><br/>
                    Ladda ned listan på alla våra kunder som en pdf-fil.
                    <br/><br/><br/>
                    
                </p>
            </div>  

            <div class="column right">
            </div>
        </div>  
        {% include "_foot.html" %}
    </body>

</html>