---
title: Vår miljöpolicy
---

<!DOCTYPE html>
<html>

    {% include "_head.html" %}

    <body>
        {% include "_navbar.html" %}

        <div class="row" style="height: 400px">
            <div class="column left">
            </div>

            <div class="column middle">
                <p id="centered-text">
                    Här kan du ladda ner vår miljöpolicy.
                    <br/>
                    <br/>
                    <br/>
                    <a href="/pdf/policy.pdf"><img src="/images/adobe-reader-pdf-icon.png">
                    </a>
                </p>
            </div>  

            <div class="column right">
            </div>
        </div>  
        {% include "_foot.html" %}
    </body>

</html>