---
title: Våra rutiner
---

<!DOCTYPE html>
<html>

    {% include "_head.html" %}

    <body>
        {% include "_navbar.html" %}
        
        <div class="row">
            <div class="column left">
            </div>

            <div class="column middle">
                <div class="single_column">
                <h1>Rutiner vid skada</h1>
                Här får du information och nödvändigt material för att anmäla ett ärende till oss. Om du vill ha informationen som en pdf-fil, ladda ned dokumentet <em>Rutiner vid skada</em> nedan.
                <br/>
                <br/>
                <img src="/images/adobe-reader-pdf-icon.png">
                <img src="/images/adobe-reader-pdf-icon.png">
                <img src="/images/adobe-reader-pdf-icon.png">

                <h2>Rapportera information om skadan till oss</h2>
                För att kunna ta ditt ärende vidare behöver vi grundlkäggande information. Följande information är obligatorisk att rapportera till oss:
                <ul>
                    <li>Datum för händelse/upptäckt av skada</li>
                    <li>Adress/plats där skadan inträffat</li>
                    <li>Fotografier av skadans omfattning</li>
                    <li>Bankgiro eller postgiro (som inte kräver OCR) för att motta ersättning</li>
                    <li>Aktuell fakturaadress för det skadade objektet</li>
                   </ul>
                Skicka informationen till <a href="mailto:help@trafikskadetjanst.se">help@trafikskadetjanst.se</a> eller via post till addressen längst ned på denna sida. Beställ sedan reparation av skadan.
                </div>
            </div>

            <div class="column right">
            </div>
        </div>

        {% include "_foot.html" %}
    </body>
</html>