
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="javascript/image-circulator.js"></script>
  </head>

  <body>
  <div class="row">
    
    <div class="column left">
    </div>
    
    <div class="column middle">
      <a href="/">
        <img src="/images/header.png">	
      </a>
      
      <div class="navbar">
          <a href="/"> Hem</a> 
          <a href="/services"> Tjänster</a> 
          <a href="/rutiner"> Rutiner</a> 
          <a href="#"> Bildgalleri</a>
          <a href="#"> Kunder</a>
          <a href="#"> Miljöpolicy</a>
          <a href="#"> Kontakt</a>
          <a href="/about"> Om oss</a>
      </div>
    </div>
    
    <div class="column right">
    </div>
  </div>

  <div class="row">
    <div class="column left">
    </div>

    <div class="column middle">

      <div class="column middle left_content">
        <span id="u509-11">
          <h2>VAR HAMNAR ERA KOSTNADER FÖR TRAFIKSKADOR?</h2>
        </span>
        <span id="u509-8">
           {{ content | safe}}
           </span>
      </div>

      <div class="column middle right_content">
        <p>&nbsp;</p>
        <img id="adBanner" alt="Ad Banner">
      </div>
    </div>

    <div class="column right">
    </div>
  </div>

  <!-- Footer -->
  <div class="row">
    <div class="column left">
    </div>

    <div class="column middle">
      <hr color="blue">
      <div class="column middle footer_left">
        <h3>KONTAKTA OSS</h3>
        Tel: 08-646 7040<br/>
        Fax: 08-603 8838<br/>
        &nbsp;
      </div>
      <div class="column middle footer_middle">
        <h3>ADRESS</h3>
        Trafikskadetjänst <br/>
        Prästkragevägen 6 <br/>
        148 71 Sorunda
      </div>
      <div class="column middle footer_right">
        <h3>E-POST</h3>
        help@trafikskadetjanst.se<br/>
        &nbsp;<br/>&nbsp;
      </div>
    </div>
  </div>

  </body>
</html>