<div class="row">
    <div class="column left">
    </div>

    <div class="column middle">
        <hr color="blue">
        <div class="column middle footer_left">
            <h3>KONTAKTA OSS</h3>
            Tel: 08-646 7040<br/>
            Fax: 08-603 8838<br/>
            &nbsp;
        </div>

        <div class="column middle footer_middle">
            <h3>ADRESS</h3>
            Trafikskadetjänst <br/>
            Prästkragevägen 6 <br/>
            148 71 Sorunda
        </div>

        <div class="column middle footer_right">
            <h3>E-POST</h3>
            help@trafikskadetjanst.se<br/>
            &nbsp;<br/>&nbsp;
        </div>
    </div>

    <div class="column right">
    </div>
</div>